@model Employee.Models.Tasks

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tasks</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskDueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskDueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImportanceLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImportanceLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TaskId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
